a {
	color: white;
	border: 0px;
}
a:hover{
	color: #DEB887;
}
hr{
    width: 45%;
    height: 2px;
    background-color: blue;
    border-style: dotted solid;
}
#tb {
	width: 100%;
	height: 80%;
}
body{
	background-color: blue;
	font-family: cursive;
	color: white;
}
.main{
	font-weight: bolder;
	font-style: italic;
}
